
.DS_Store
.vscode/
.idea/

.env
**/.env

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.dist/
build/
*.log

.venv/
venv/
**/.venv/


node_modules/
**/node_modules/
dist/
**/dist/
.vite/
**/.vite/

# --- PDFs / generated artifacts ---
*.pdf